{% extends "base.html" %}

{% block content %}

<form action="/items" method="post">
    <label for="type">Type:</label>
    <input type="text" name="type" id="type">
    <label for="colour">Colour:</label>
    <input type="text" name="colour" id="colour">
    <label for="style">Style:</label>
    <input type="text" name="style" id="style">

    <!-- <label for="wizard_id">Wizard:</label>
        <select name="wizard_id" id="wizard_id">
        {% for wizard in wizards %}
            <option value="{{ wizard.id }}">
                {{wizard.first_name}}
            </option>
        {% endfor %} -->
        </select>
    <input type="submit" value="Add Item">
  </form>

{% endblock content %}


