{% extends "base.html" %}

{% block content %}
<h1>Add New Item:</h1>

<form action="/items" method="post">
    <label for="type">Type:</label>
    <input type="text" name="type" id="type">
    <label for="colour">Colour:</label>
    <input type="text" name="colour" id="colour">
    <label for="style">Style:</label>
    <input type="text" name="style" id="style">
    <input hidden type="text" name="wizard_id" value ="{{wizard.id}}">
    <input type="submit" value="Add Item">
  </form>

{% endblock content %}


